{% extends 'main/base.html'%}
{% block content %}
   {% include 'main/nav.html'%}


<div class="row">
    <div class="col s12 m5">
      <div class="card" >
        <div class="card-image" >
          <img class="z-depth-3" src="https://www.deccanherald.com/sites/dh/files/article_images/2020/03/16/Moms-1584355693.jpg" style="width:500px; height:650px;" >  
        </div>
       
      </div>
    </div>

    <div class="col s6 m6"></div>
    <div class="collection">
        <ol>
        <li><a href="#!" class="collection-item">What prenatal vitamins should I take?</a></li>
        <p>You'll get most of the vitamins and minerals you need by eating a healthy, varied diet. But when you're pregnant (and while you are trying to get pregnant) you also need to take a folic acid supplement.</p> <hr>
       <li><a href="#!" class="collection-item ">Is Covid vaccine safe for pregnancy?</a></li>
        <p>A preliminary report from the largest study on Covid vaccine safety in pregnant women shows that Pfizer's and Moderna's vaccines are safe to use during pregnancy. The researchers found no “obvious safety signals” in any of the 35,691 people followed.</p><hr>
       <li> <a href="#!" class="collection-item">When do pregnancy cravings start?</a></li>
        <p>If you do start having cravings, it'll probably be in your first trimester (it could be as early as 5 weeks into pregnancy). They'll get stronger in your second trimester, and then eventually stop in your third trimester.</p><hr>
        <li> <a href="#!" class="collection-item">How much weight should I gain in pregnancy?</a></li>
        <p>Most pregnant women gain between 10kg and 12.5kg (22lb to 26lb), putting on most of the weight after week 20. Much of the extra weight is due to your baby growing, but your body will also be storing fat, ready to make breast milk after your baby is born.</p><hr>
        <li> <a href="#!" class="collection-item">What happens in an antenatal class?</a></li>
        <p>They're usually informal, fun and sociable, which makes them a great place to meet other parents-to-be. The friends you make at antenatal classes can become a great support network. You can now find many antenatal courses and workshops online.</p><hr>
    </ol>
    </div>
    



  </div>

  
 
{% endblock %}