{% extends 'main/base.html' %}
{% block content %}
{% include 'main/nav.html' %}
<section>
    <br>
   
    
    <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="https://cdn-images.ausmed.com.au/ausmed-articles/20200416_cover.jpg">
            </div>
            <div class="card-content">
              <p>As COVID-19 is still a new disease that hasn’t yet been well studied, its effects on pregnant women and their developing babies isn’t fully understood (Healthline 2020).</p>
            </div>
          </div>
        </div>


        
        
        <br>
         <div class="col s6 m6"></div>
            <div class="collection">
                <ol>
                <li><a href="#!" class="collection-item">why Pregnancy care?</a></li>
                <p>Pregnancy care helps ensure a smooth and safe pregnancy. Gives you hope during your pregnancy period and Connect virtutually to bring life</p> <hr>
               <li><a href="#!" class="collection-item ">Covid safe</a></li>
                <p>Still the pandemic is not over , Inorder to have doctor support at your home you can use our pregnancy care where you can make appointment with doctor and connect virtually in a call or text</p><hr>
               <li> <a href="#!" class="collection-item">Free Trail</a></li>
                <p>You can have 1 month free trail where you can make appointments and have a conversation with our nurses</p><hr>
            </ol>
            </div>
    </div>

   
</section>

<script>

</script>
  
{% endblock %}
